{% load staticfiles %}
<head>
<link rel="stylesheet" type="text/css" href="{% static "simulator/style_simulator.css" %}" />
</head><body>

<div class="tile" style="background:white;text-align:center;margin:10px;border:2px solid black;">

<p style="color:grey">
<img height="40" width="40" border="0" style="border-color:white" 
src="{% static "simulator/factory.png" %}" border="0">
<br><strong>FACTORY</strong></p><table style="vertical-align:middle;" width="200"><tr>

<td align="center">
<a href="{{ SITE_URL }}/simulator" style="color:#000000;">
<img height="60" width="60" style="border: 3px solid grey"
src="{% static "simulator/automacs.png" %}" border="0"></a>
<a href="{{ SITE_URL }}/simulator" style="color:#000000;text-decoration:none;">
<br><strong>simulator</strong></a></td>

<td align="center">
<a href="{{ SITE_URL }}/calculator" style="color:#000000;">
<img height="60" width="60" style="border: 0px solid grey"
src="{% static "simulator/omnicalc.png" %}" border="0"></a>
<a href="{{ SITE_URL }}/calculator" style="color:#000000;text-decoration:none;">
<br><strong>calculator</strong></a></td></tr></table>

</div>

{% block content %}
{% endblock %}

</body>
