{% extends "simulator/base.html" %}
{% block content %}
{% load code_syntax %}

<div style="clear:both;"></div>
<div class="tile-col">

{% include "simulator/navigate.html" %}

<h2>simulation: {{ sim.name }}</h2>
<code><p>
program: {{ sim.program }}<br>
location: {{ path }}
</p></code>
{% if form %}
<form action="sim{{ sim.id }}" method="post" enctype="multipart/form-data">
<table style="text-align:left">
<colgroup>
<col style="text-align:right">
<col style="width:300">
</colgroup>  
<tbody>
{% csrf_token %}
<br>
<tr><td></td><td><input type="submit" value="start" style="width:100"/></td></tr>
{{ form.as_table }}
</tbody>
</table>
</form>
{% else %}
<strong>settings code</strong>
{{ settings_text|highlight|safe }}
{% endif %}

</div>

{% endblock %}
