{% extends "calculator/base.html" %}
{% block content %}

<div class="brick" style="text-align:center;">
<div class="inbrick">
{% include "calculator/tile_main.html" %}
</div></div>

<div style="clear:both;"></div>

<div class="tile-col">
<h2>simulation: {{ sim.name }}</h2>
<code><p>
program: {{ sim.program }}<br>
location: {{ sim.code }}
</p></code>
{% if form %}
<form action="sim{{ sim.id }}" method="post" enctype="multipart/form-data">
<table style="text-align:left">
<colgroup>
<col style="text-align:right">
<col style="width:300">
</colgroup>  
<tbody>
{% csrf_token %}
<br>
<tr><td></td><td><input type="submit" value="start" style="width:100"/></td></tr>
{{ form.as_table }}
</tbody>
</table>
</form>
{% else %}
{% block code %}
<code>
{{ settings_text|linebreaks }}
</code>
{% endblock %}
{% endif %}
</div>

<!--do we want to make a group from the simulation page? {% include "calculator/new_group.html" %}-->

{% endblock %}
