<br><form action="compute" method="post" enctype="multipart/form-data">
{% csrf_token %}
<input type="submit" value="COMPUTE" id="submit"/></td></tr>
</form>
<h3>links</h3>
<ol>
<li><a href="{{ SITE_URL }}/simulator/amxdocs/index.html">simulator docs</a></li>
<li><a href="{{ SITE_URL }}/calculator/omnidocs/index.html">calculator docs</a></li>
<li><a href="{{ SITE_URL }}/admin" target="_blank">admin console</a></li>
<li><a href="http://localhost:5555" target="_blank">computation cluster</a></li>
<!--<li><a href="{{ SITE_URL }}/calculator/#image_section">jump to images</a></li>-->
<li><a href="rethumb">refresh thumbnails</a></li>
</ol>
