{% if selected_calculation != -1 %}
<div class="" id="selected_change">
<form action="calc{{selected_calculation.pk}}update" method="post" enctype="multipart/form-data">
<table>
<tbody>
{% csrf_token %}
<br>
<tr><td></td><td><input type="submit" value="update calculation" id="submit"/></td></tr>
{{ calculation_form.as_table }}
<tr><td></td><td><a href="/calculator/">cancel update</a></td></tr>
</tbody>
</table>
</form>
</div>
{% else %}
<div class="">
<form action="new_calculation" method="post" enctype="multipart/form-data">
<table>
<tbody>
{% csrf_token %}
<br>
<tr><td></td><td><input type="submit" value="new calculation" id="submit"/></td></tr>
{{ calculation_form.as_table }}
</tbody>
</table>
</form>
</div>
{% endif %}